<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>
<h1> welcome to the text analyzer</h1>
<form action="/analyze" method="get">
    <textarea name="text" style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    <input type="checkbox",name="removepunc">removepuntuations<br>
    <input type="checkbox",name="fullcaps">UPPERCASE<br>
    <input type="checkbox",name="newlineremove">new line remover<br>
    <input type="checkbox",name="charcount">count the character<br>
    <button type='sumbit'>analyze text</button>
</form>

</body>
</html>